:root {
  --main-bg-stop: rgb(244, 67, 54);
  --main-bg-start: rgb(139, 195, 74);
  --main-bg-rest: rgb(33, 150, 243);
  --main-bg-delay: rgb(255, 152, 0);
  --main-bg-setting: rgb(59, 63, 69);
}

.bg {
  transition: background-color 200ms linear;
}

.bg-setting {
  background-color: var(--main-bg-setting);
}

.bg-stop {
  background-color: var(--main-bg-stop);
}

.bg-delay {
  background-color: var(--main-bg-delay);
}

.bg-start {
  background-color: var(--main-bg-start);
}

.bg-rest {
  background-color: var(--main-bg-rest);
}