button {
    color: white;
    padding: 1em;
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    cursor: pointer;
    position: relative;
}

button:focus{
    outline: none;
}

button > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.buttons-control-group {
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.button-group button:not(:first-child) {
    margin-left: 20px;
}

.button-settings-container {
    position: absolute;
    margin: 0 20px;
    top: 50%;
    transform: translateY(-50%);
}

.button-settings-container.button-settings-container-left {
    left : 0;
}

.button-settings-container.button-settings-container-right {
    right: 0;
}

.button-settings i {
    font-size: 36px;
}

@media screen and (max-width: 840px) {
    .button-settings i {
        font-size: 24px;
    }

    button.button-settings {
        height: 55px;
        width: 55px;
    }
}

@media screen and (max-height: 340px) {
    .buttons-control-group {
        top: 0;
        right: 0;
    }
}