body {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

h1 {
    margin: 0;
    font-size: 2em;
}

@media screen and (max-width: 840px) {
    body {
        font-size: 70%;
    }
}