form {
    font-size: 2.5em;
}

form input {
    font-size: 2.5em;
}

input {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-weight: bold;
    border-bottom: 2px solid white;
}

input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.setting {
    transition: opacity 500ms ease-in-out;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.setting.current {
    opacity: 1;
    height: auto;
}
